
  body, html {
    padding: 10px 0px;
    background-color: #9d9ea0;
    }
.jumbotron {
  background-color: white;
  background-image: url('../images/seaice.jpg');
    background-size: 100% 100%;
    text-align: center;
    min-height: 200px;
  }
 
.dropbtn {
  background-color: #200957;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 16px;
  background-color: #ac1ea510;
  min-width: 160px;
  }

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: #8672a7;}
